@import 'src/styles/material-theme';
@import 'src/styles/vars';

$bar-height: 3em;
$text-box-height: 2.5em;

$color-background-bar: lightgray;
$color-break: purple;
$color-default-working-time: mat-color($light-app-warn);

// ONLY FOR TESTING
$progress-percent: 10%; // 8h ->  74.41860465116%

mat-card-content {
  padding: 0 0.5em;
}

/*
    Bars
*/
.bar {
  height: $bar-height;
}

.bg-bar {
  width: 100%;

  background: linear-gradient(to right, $red, $orange, $yellow, $green, $blue);
}

.progress-bar,
.break-bar {
  position: relative;
  top: -$bar-height;
  margin-bottom: -$bar-height;
}

.progress-bar {
  width: $progress-percent; // WILL BE UPDATED DYNAMICALLY
  background-color: $color-background-bar;
  float: right;
}

.break-bar {
  background-color: $color-break;
  opacity: 0.6;
}

.thirty-min-break {
  width: (0.5/10.75) * 100%;
  left: (6/10.75) * 100%;
}

.fifteen-min-break {
  width: (0.25/10.75) * 100%;
  left: (9.5/10.75) * 100%;
}

/*
    Text
*/
.timebox {
  position: relative;
  height: $text-box-height;
  margin-bottom: -$text-box-height;
}

.working-time {
  width: $progress-percent; // WILL BE UPDATED DYNAMICALLY
  div {
    height: 100%;
    float: right;
    border-right: 0.2em solid black;

    .triangle {
      margin-left: 0.2em;

      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 12.18px;
      border-color: transparent transparent transparent rgb(0, 0, 0);
    }
  }
}

.balance {
  width: auto;
  padding-left: 0.5em;

  div {
    height: 100%;
    position: absolute;
    font-weight: bolder;
  }
}

.break,
.default-working-time {
  position: relative;
  display: inline-block;

  .text {
    position: relative;
    left: -50%;
  }

  .mark {
    position: relative;
    left: -5px;
  }
}

.break {
  color: $color-break;

  .mark {
    .triangle {
      border-color: transparent transparent $color-break transparent;
    }
  }
}

.triangle {
  display: block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 5px 8.7px 5px;
  border-color: transparent transparent $color-default-working-time transparent;
}

/*
    text positioning
*/
.six-hours {
  left: (6/10.75) * 100%;
}

.nine-hours {
  left: (9.5/10.75) * 100%;
}

.ten-hours {
  float: right;
}

.default-working-time {
  left: (8/10.75) * 100%; // WILL BE UPDATED DYNAMICALLY
  color: $color-default-working-time;
}

/*
    the text-divs do not occupy any space -> placeholder
*/
.placeholder {
  height: $text-box-height;
}

.z-index-10 {
  z-index: 10;
}

.z-index-20 {
  z-index: 20;
}

.inline-flex {
  display: inline-flex;
}

.positive {
  color: $green;

  &:before {
    content: '+';
    padding-left: 0.2em;
  }
}

.neutral {
  color: $green;
}

.negative {
  color: $red;

  &:before {
    content: '-';
  }
}
