<mat-card class="mb-3 mat-elevation-z4">
  <mat-card-title>Visuelle Ausgabe:</mat-card-title>

  <mat-card-content>

    <div class="timebox working-time" [style.width.%]="(timer$ | async)?.percentageOfMaxAttendanceTime">
      <div class="z-index-10" matTooltip="Aktuelle Arbeitszeit" matTooltipPosition="above">
        {{ (timer$ | async)?.currentWorkingTime | luxonFormat:"m'min'":"h'h' m'min'" }} <div class="triangle"></div>
      </div>
    </div>

    <div class="timebox balance" [style.margin-left.%]="(timer$ | async)?.percentageOfMaxAttendanceTime">
      <div class="z-index-10" matTooltip="Current Balance" matTooltipPosition="above"
        [ngClass]="{
          'negative': (timer$ | async)?.balance.balance === Balance.Negative,
          'neutral': (timer$ | async)?.balance.balance === Balance.Neutral,
          'positive': (timer$ | async)?.balance.balance === Balance.Positive}"
      >
        {{ (timer$ | async)?.balance.value | luxonFormat:"m'min'":"h'h' m'min'" }}
      </div>
    </div>
    <div class="placeholder"></div>

    <div class="bar bg-bar"></div>
    <div class="bar progress-bar" [style.width.%]="(timer$ | async)?.percentageOfMaxAttendanceTimeInverted"></div>
    <div class="bar break-bar thirty-min-break" matTooltip="30 min. Pause" matTooltipPosition="above"></div>
    <div class="bar break-bar fifteen-min-break" matTooltip="15 min. Pause" matTooltipPosition="above"></div>

    <div class="timebox">
      <div class="z-index-10 inline-flex">
        <div class="z-index-20" matTooltip="Kommen-Zeit">{{ (displayValues$ | async)?.arrivalTime }}</div>
      </div>
    </div>
    <div class="timebox">
      <div class="six-hours break">
        <div class="mark"><div class="triangle"></div></div>
        <div class="text z-index-10" matTooltip="6h Grenze">{{ (displayValues$ | async)?.sixHours }}</div>
      </div>
    </div>
    <div class="timebox">
      <div class="nine-hours break">
        <div class="mark"><div class="triangle"></div></div>
        <div class="text z-index-10" matTooltip="9h Grenze">{{ (displayValues$ | async)?.nineHours }}</div>
      </div>
    </div>
    <div class="timebox">
        <div class="ten-hours z-index-10 inline-flex">
      <div class="z-index-20" matTooltip="10h Grenze">{{ (displayValues$ | async)?.tenHours }}</div>
      </div>
    </div>
    <div class="timebox">
      <div class="default-working-time" [style.left.%]="(displayValues$ | async)?.contractedLeaveTime.percentage"
      >
        <div class="mark"><div class="triangle"></div></div>
        <div class="text z-index-10" matTooltip="Standard Arbeitszeit">{{ (displayValues$ | async)?.contractedLeaveTime.text }}</div>
      </div>
    </div>

    <div class="placeholder"></div>
  </mat-card-content>
</mat-card>
