<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    #inputRef
    (focus)="onFocus(inputRef)"
    (focusout)="onFocusOut()"
    (keydown)="onKeyDown($event)"
    [formControl]="control"
    [placeholder]="validValue"
    matInput
    maxlength="5"
    minlength="3"
    type="text"
  />
  <mat-error> H:mm, HH:mm, Hmm, HHmm</mat-error>
</mat-form-field>
<span *ngIf="appendUhrLabel" i18n="@@Uhr">{{''}}</span>
