<footer>
  <div class="container">
    <div class="row">
      <div class="col col-md-6 col-sm-12">
        <ul>
          <li>
            <a
              href="https://gitlab.com/ric0/zeit-tool"
              mat-button
              rel="noopener noreferrer"
              target="_blank"
            >
              <span i18n="@@footer|Link to Git-Repository">Git Repository</span>
              <i class="material-icons md-18 ml-1">open_in_new</i>
            </a>
          </li>
          <li>
            <a
              i18n="@@footer|Link to Feedback Page"
              mat-button
              routerLink="/feedback"
            >Send Feedback</a>
          </li>
        </ul>
      </div>
      <div class="col col-md-6 col-sm-12">
        <ul>
          <li>
            <a
              href="/3rdpartylicenses.txt"
              mat-button
              rel="noopener noreferrer"
              target="_blank"
            >
              <span i18n="@@footer|Link to 3rdPartyLicenses">3rd Party Licenses</span>
              <i class="material-icons md-18 ml-1">open_in_new</i>
            </a>
          </li>
          <li>
            <a
              href="/assets/additional-licenses.txt"
              mat-button
              target="_blank"
              title="Additional Licenses"
            >
              <span i18n="@@footer|Link to Additional Licenses">Additional Licenses</span>
              <i class="material-icons md-18 ml-1">open_in_new</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <p class="m-0 text-monospace">
          <small>Version {{version}}{{branch ? (' | ' + branch) : ''}}</small>
        </p>
      </div>
    </div>
  </div>
</footer>
