@import './src/styles/material-theme';

footer {
  padding: 1em;

  background-color: mat-color($light-app-primary);
  color: $light-primary-text;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-weight: lighter;
}

:host {
  margin-top: auto;
}
