<ng-container *ngIf="survey.showSurvey$ | async">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 ">
        <mat-card class="mat-elevation-z10">
          <div class="row">
            <div class="col-auto align-self-center title">
              <span i18n="@@Feedback">Feedback</span>{{' '}}
              <i class="material-icons">feedback</i>
            </div>
            <div class="col-auto align-self-center mx-auto my-3 my-md-0" i18n="@@survey|question">
              Would you like to participate in a short survey?
            </div>
            <div class="col-auto">
              <a
                (click)="onAccept()"
                [href]="surveyLink"
                class="mr-1"
                color="primary"
                mat-raised-button
                rel="noopener noreferrer" target="_blank"
              >
                <i class="material-icons">check </i>{{' '}}
                <span i18n="@@Yes">Yes</span>
              </a>
              <button
                (click)="onDecline()"
                class="mr-1"
                color="warn"
                mat-stroked-button
              >
                <i class="material-icons">clear</i>{{' '}}
                <span i18n="@@No">No</span>
              </button>
              <button (click)="onLater()" mat-stroked-button>
                <i class="material-icons">access_time</i>{{' '}}
                <span i18n="@@Later">Later</span>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
