<div [formGroup]="form">
  <div class="mb-3"
       formArrayName="breaks">
    <ng-container *ngFor="let control of breaks.controls; let i = index">
      <div class="row mx-0 align-items-center mb-3 border-left border-primary">
        <div class="col-auto p-2 px-md-2">
          <button (click)="removeBreak(i)" color="warn" mat-icon-button>
            <i class="material-icons"> delete_forever </i>
          </button>
        </div>
        <div class="col px-1">
          <app-break-input [formControlName]="i" [type]="control.value.type"></app-break-input>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="row align-items-center mx-0">
  <div class="col-12 col-md-auto px-0">
    <button (click)="addDuration()" class="w-100" color="primary" mat-flat-button>
      <i class="material-icons mr-1">timelapse</i>
      <span i18n="@@break-input-wrapper|Add Break Duration">Add Break Duration</span>
    </button>
  </div>
  <div class="col-12 col-md-auto text-center px-0 px-md-3">OR</div>
  <div class="col-12 col-md-auto px-0">
    <button (click)="addRange()" class="w-100" color="primary" mat-flat-button>
      <i class="material-icons mr-1">double_arrow</i>
      <span i18n="@@break-input-wrapper|Add Break Range">Add Break Range</span>
    </button>
  </div>
</div>
