<form [formGroup]="form">
  <div class="row mx-0">
    <div
      [ngClass]="{
        'col-sm-12 col-md-4': isShowQuotes,
        col: !isShowQuotes
      }"
      class="mb-3 px-0"
    >
      <mat-card class="h-100 mat-elevation-z2">
        <mat-card-title i18n="@@time-input|arrival time - card title">Enter your Arrival-Time</mat-card-title>
        <mat-card-content>
          <mat-grid-list [cols]="2">
            <app-time-input
              [label]="'TIME-INPUT.ARRIVAL-TIME' | translate"
              appendUhrLabel="true"
              formControlName="arrivalTime"
            ></app-time-input>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="isShowQuotes" class="col-sm-12 col-md-8 mb-3 px-0">
      <div class="ml-0 ml-md-3 h-100">
        <app-quote-card></app-quote-card>
      </div>
    </div>
  </div>

  <app-visual-display></app-visual-display>
  <app-description></app-description>

  <mat-expansion-panel class="mb-3 mat-elevation-z2">
    <mat-expansion-panel-header>
      <mat-panel-title><strong i18n="@@time-input|adjustments - card title">Adjustments</strong></mat-panel-title>
      <mat-panel-description i18n="@@time-input|adjustments - description">Change today's Work- or Leave-Time
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-subtitle i18n="@@time-input|select one">Please select one:</mat-card-subtitle>

    <mat-radio-group formControlName="timeSelection">
      <mat-radio-button [value]="TimeSelection.DefaultWorkingTime">
        <span i18n="@@Default Working-Time">Default Working-Time</span>
        <small>
          <em>
            ({{(settings.values$ | async)?.defaultWorkingTime| luxonFormat: "h'h' mm'min'"}})
          </em>
        </small>
      </mat-radio-button>

      <mat-radio-button [value]="TimeSelection.WorkingTime">
        <app-time-input
          (click)="setTimeSelectionTo(TimeSelection.WorkingTime)"
          (focus)="setTimeSelectionTo(TimeSelection.WorkingTime)"
          [label]="'TIME-INPUT.TODAY-WORKING-TIME' | translate"
          formControlName="workingTime"
        ></app-time-input>
        <button
          (click)="
            setTimeSelectionTo(TimeSelection.WorkingTime);
            setInputTo('workingTime', SIX_HOURS)
          "
          class="ml-1"
          color="primary"
          i18n="@@6h"
          mat-raised-button
          type="button"
        >
          6h
        </button>
        <button
          (click)="
            setTimeSelectionTo(TimeSelection.WorkingTime);
            setInputTo('workingTime', NINE_HOURS)
          "
          class="ml-1"
          color="primary"
          i18n="@@9h"
          mat-raised-button
          type="button"
        >
          9h
        </button>
        <button
          (click)="
            setTimeSelectionTo(TimeSelection.WorkingTime);
            setInputTo('workingTime', TEN_HOURS)
          "
          class="ml-1"
          color="primary"
          i18n="@@10h"
          mat-raised-button
          type="button"
        >
          10h
        </button>
      </mat-radio-button>

      <mat-radio-button [value]="TimeSelection.LeaveTime">
        <app-time-input
          (click)="setTimeSelectionTo(TimeSelection.LeaveTime)"
          (focus)="setTimeSelectionTo(TimeSelection.LeaveTime)"
          [label]="'TIME-INPUT.LEAVE-TIME' | translate"
          appendUhrLabel="true"
          formControlName="leaveTime"
        ></app-time-input>
        <button
          (click)="
            setTimeSelectionTo(TimeSelection.LeaveTime);
            setInputTo('leaveTime', getCurrentTime())
          "
          class="ml-1"
          color="primary"
          i18n="@@Now"
          mat-raised-button
          type="button"
        >
          Now
        </button>
      </mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>

  <app-break-card formControlName="break"></app-break-card>
</form>
