<div [formGroup]="form" class="margin-top row mx-0 align-items-center">
  <div class="col-auto px-0">
    <app-time-input formControlName="begin" i18n-label="@@from" label="from"></app-time-input>
  </div>
  <div class="col-auto px-0">
    <app-time-input formControlName="end" i18n-label="@@to" label="to"></app-time-input>
  </div>
  <div class="col-auto px-0 pb-2">
    <i class="material-icons v-middle color-accent mx-1">chevron_right</i>
    <span i18n="@@Duration">Duration</span>:
    <strong
      [ngClass]="{
        'text-danger': breakDurationStatus.negative,
        'text-warning': breakDurationStatus.isLessThan15min,
        'text-success': breakDurationStatus.moreThan15min
      }"
    >{{ breakDuration | luxonFormat: "mm 'min'":"h'h' mm'min'" }}</strong
    >
  </div>
</div>
<mat-error *ngIf="form.invalid">{{ form.errors.error }}</mat-error>
