<div class="container">
  <mat-card class="mb-3 mat-elevation-z4">
    <mat-card-title i18n="@@Language">Language</mat-card-title>
    <mat-card-subtitle i18n="@@settings|change language">Change the Language</mat-card-subtitle>
    <a [disabled]="locale === 'en'" class="mx-1" color="accent" href="/en/" mat-flat-button>
      English
    </a>
    <a [disabled]="locale === 'de'" class="mx-1" color="accent" href="/de/" mat-flat-button>
      Deutsch
    </a>
  </mat-card>


  <mat-card class="mb-3 mat-elevation-z4">
    <mat-card-title i18n="@@Settings">Settings</mat-card-title>
    <mat-card-subtitle i18n="@@settings|save you preferences">Save your personal preferences</mat-card-subtitle>
    <mat-card-content>
      <app-settings-form></app-settings-form>
    </mat-card-content>
    <mat-card-actions class="text-right mb-1 mt-4">
      <a [routerLink]="['/']" color="primary" mat-raised-button>
        <i class="material-icons">navigate_before</i>
        <span i18n="@@Go Back">Go Back</span>
      </a>

      <button (click)="resetSettings()" color="warn" mat-raised-button>
        <i class="material-icons">undo</i>
        <span i18n="@@settings|reset settings">Reset Settings</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
