<h1 class="mb-1" mat-dialog-title>
  <i class="material-icons icon pr-2"> error </i>
  <span i18n="@@content-warning-dialog|dark cat warning">Dark Category Warning</span>
</h1>

<div mat-dialog-content>
  <p i18n="@@content-warning-dialog|Content warning">
    Content May Be Offensive or Disturbing to Some Audiences.
  </p>
</div>

<div class="float-right" mat-dialog-actions mat-dialog-title>
  <button [mat-dialog-close]="{ dark: true }" color="warn" i18n="@@content-warning-dialog|enter dark side"
          mat-flat-button>
    Enable the Dark Side
  </button>
  <button
    [mat-dialog-close]="{ dark: false }"
    cdkFocusInitial
    i18n="@@content-warning-dialog|no thanks"
    mat-stroked-button
  >
    No, thanks.
  </button>
</div>
