<form [formGroup]="form">
  <div class="item">
    <app-time-input
      formControlName="defaultWorkingTime"
      i18nLabel="@@Default Working Time"
      label="Default Working Time"
    ></app-time-input>
  </div>

  <div class="item">
    <mat-checkbox formControlName="enableAutomaticArrivalTime" i18n="@@settings-form|set arrival to time when loaded">
      Set the time of loading as the new Arrival Time
    </mat-checkbox>
  </div>

  <div class="item">
    <mat-checkbox formControlName="enableTabCloseWarning" i18n="@@settings-form|tab warning">
      Show a warning when you want to close the tab
    </mat-checkbox>
  </div>

  <div class="before-divider"></div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="after-divider"></div>

  <p class="item" i18n="@@settings-form|reset home info">
    Would you like to reset every input on Home?
  </p>

  <div class="item">
    <button (click)="resetInput()" color="warn" mat-raised-button>
      <i class="material-icons">undo</i>
      <span i18n="@@settings-form|reset home button">Reset Home</span>
    </button>
  </div>

  <div class="before-divider"></div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="after-divider"></div>

  <div class="item">
    <mat-card-title i18n="@@Quotes">Quotes</mat-card-title>
    <app-settings-quotes formControlName="quotes"></app-settings-quotes>
  </div>

  <div class="before-divider"></div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="after-divider"></div>

  <p class="item" i18n="@@settings-form| note about the localstorage">
    All inputs and settings are automatically stored in the local storage of your browsers.
  </p>

  <div class="item">
    <button (click)="deleteLocalStorage()" color="warn" mat-raised-button>
      <i class="material-icons">delete_forever</i>
      <span i18n="@@settings-form|reset localstorage">Reset Local Storage</span>
    </button>
  </div>
</form>
