<div class="row h-100 align-items-center">
  <div *ngIf="quote" class="col">
    <p *ngFor="let line of quote.data" class="my-2 quote">
      {{ line }}
    </p>
    <p *ngIf="quote.author && quote.author !== ''" class="text-right my-2">
      <small class="text-muted author">~ {{ quote.author }}</small>
    </p>
  </div>
  <div *ngIf="!quote" class="col text-center">
    <p i18n="@@quote|nothing to display">Nothing to display.</p>
    <p>
      <a i18n="@@quote|Change settings" routerLink="/settings">Update your selected categories</a>
    </p>
  </div>
</div>
