@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-app-primary: mat-palette($mat-blue, 900, A700, A200);
$light-app-accent: mat-palette($mat-purple, 400, A400, 900);

// The warn palette is optional (defaults to red).
$light-app-warn: mat-palette($mat-red, A700);

// Create the theme object (a Sass map containing all of the palettes).
$light-app-theme: mat-light-theme(
  $light-app-primary,
  $light-app-accent,
  $light-app-warn
);
