<form [formGroup]="form">
  <div>
    <p class="mr-3" i18n="@@feedback-form|kind of feedback">What kind of feedback would you like to send?</p>
    <mat-form-field appearance="outline">
      <mat-label i18n="@@Type">Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of feedbackTypeValues" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label i18n="@@Title">Title</mat-label>
      <input formControlName="title" matInput type="text">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label i18n="@@Message">Message</mat-label>
      <textarea formControlName="message" matInput rows="10" wrap="soft"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox formControlName="isDebugInfo" i18n="@@feedback-form|Attach Debug Info">Attach Debug Info
    </mat-checkbox>
    <p class="mt-0">
      <small i18n="@@feedback-form|reason for attaching the debug info">The debug information makes it easier to
        understand the context of your message and provides valuable information to find the cause of your
        problem.</small>
    </p>
  </div>

  <mat-card-actions class="text-right">
    <a [disabled]="form.invalid" [href]="mailtoLink$ | async"
       color="primary" i18n="@@feedback-form|Send Email" mat-flat-button rel="noopener noreferrer" target="_blank"
    >Send Email</a>
    <a color="warn" i18n="@@Cancel" mat-button routerLink="">Cancel</a>
  </mat-card-actions>
</form>
