<header>
  <nav>
    <mat-toolbar class="mat-elevation-z24" color="primary">
      <span class="container">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          i18n="@@Home"
          mat-button
          routerLink="/" routerLinkActive="active"
        >Home</a>

        <a
          i18n="@@Settings"
          mat-button
          routerLink="/settings"
          routerLinkActive="active"
        >Settings</a>
      </span>
    </mat-toolbar>
  </nav>
</header>
