mat-toolbar {
  margin-bottom: 1em;
}

a {
  margin-right: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.active {
  font-weight: bold;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;

    animation-name: animateBorder;
    animation-duration: .1s;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);;
  }
}

@keyframes animateBorder {
  from {
    top: 50%;
    border-width: 0;
  }

  to {
    top: 0;
    border-width: 1px;
  }
}
