<div class="container">
  <mat-card class="mb-3 mat-elevation-z4">
    <mat-card-title i18n="@@feedback|Browse Feedback - Card Title">Browse Feedback</mat-card-title>
    <mat-card-subtitle i18n="@@feedback|Browse Feedback - Card Subtitle">
      Browse through previous Feedback/ Bug Reports or Issues
    </mat-card-subtitle>
    <mat-card-content>
      <p i18n="@@feedback|Browse Feedback - Card Content">
        The Issue-list serves as a TODO-list for the project. If you have found a bug,
        have an issue or have anything else to say that is not yet listed, feel free to
        fill out the form below. Your feedback is very welcome.
      </p>
      <p>
        <a href="https://gitlab.com/ric0/zeit-tool/issues" mat-stroked-button target="_blank">
          <span i18n="@@feedback|Browse Issue List Link">Browse Issue List</span>{{' '}}
          <i class="material-icons md-18 ml-1">open_in_new</i>
        </a>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-3 mat-elevation-z4">
    <mat-card-title i18n="@@feedback|Give Feedback - Card Title">Give Feedback</mat-card-title>
    <mat-card-subtitle i18n="@@feedback|Give Feedback - Card Subtitle">Send Feedback via Email</mat-card-subtitle>

    <p i18n="@@Please note:">Please note:</p>
    <ul>
      <li>
        <p>
          <small i18n="@@feedback|note about visibility and confidential information">The feedback will be publicly
            visible. Please be careful not to include any personal or confidential information.</small>
        </p>
      </li>
      <li>
        <p class="text-danger">
          <small>
            <strong i18n="@@feedback|note about the sender-address">Your sender email address will not be
              visible.</strong>
          </small>
        </p>
      </li>
      <li>
        <p>
          <small>
            <a href="https://gitlab.com/help/user/markdown" i18n="@@Markdown" target="_blank"
            >Markdown</a>{{' '}}
            <span i18n="@@feedback|note about markdown - Text">is supported. Highlighting will only become visible on Gitlab.</span>
          </small>
        </p>
      </li>
    </ul>
    <div class="mt-5">
      <app-feedback-form></app-feedback-form>
    </div>
  </mat-card>
</div>
