<mat-card class="mb-3 mat-elevation-z2">
  <mat-card-title i18n="@@feierabend|card title">End-of-Work Reminder</mat-card-title>
  <mat-card-content *ngIf="platform.TRIDENT">
    <p>
      <span i18n="@@feierabend|Note about IE unable to display notifications">Internet Explorer cannot display notifications.</span>
      <br/>
      <span
        i18n="@@feierabend|Note to use a different browser">Please use a modern Browser (Chrome, Firefox, ...).</span>
    </p>
  </mat-card-content>
  <mat-card-content *ngIf="!platform.TRIDENT">
    <app-feierabend-input></app-feierabend-input>
    <p class="text-muted">
      <span i18n="@@feierabend|Note that it only works while the tab is open">Notifications only work when the tab is open or idle in the background.</span>
      {{' '}}
      <a routerLink="/settings">
        <span i18n="@@feierabend|Enable accidental close warning">Enable accidental close warning</span>
        (<span i18n="@@Settings">Settings</span>)
      </a>
    </p>
  </mat-card-content>
</mat-card>
