<h1 class="" i18n="@@quote-options-dialog|details for current quote" mat-dialog-title>Details for current Quote</h1>
<div class="d-flex flex-column mb-2" mat-dialog-content>
  <mat-list class="p-0">
    <mat-list-item>
      ID:&nbsp;
      <strong>{{ quote.id }}</strong>
    </mat-list-item>
    <mat-list-item>
      <span i18n="@@Category">Category</span>:&nbsp;
      <strong>{{ 'QUOTES.CATEGORIES.' + category | translate }}</strong>
    </mat-list-item>
  </mat-list>
</div>

<mat-divider></mat-divider>

<h1 class="mt-3 mb-0" i18n="@@quote-options-dialog|available options" mat-dialog-title>Available Options</h1>
<div class="d-flex flex-column" mat-dialog-content>
  <button
    (click)="onShowNext()"
    class="my-1 text-left"
    mat-dialog-close
    mat-stroked-button
  >
    <i class="material-icons"> navigate_next </i>&nbsp;
    <span i18n="@@quote-options|show next">Show next</span>
  </button>
  <button
    (click)="onDislike()"
    class="my-1 text-left"
    color="warn"
    mat-dialog-close
    mat-stroked-button
  >
    <i class="material-icons">clear</i>&nbsp;
    <span i18n="@@quote-options|never show again">Never show again</span>
  </button>
  <a
    class="text-left"
    mat-dialog-close
    mat-stroked-button
    routerLink="/settings"
  >
    <i class="material-icons">swap_horiz</i>&nbsp;
    <span i18n="@@quote-options-dialog|change the displayed categories">Change the displayed Categories</span>
  </a>
</div>
<div class="mt-2 justify-content-end" mat-dialog-actions>
  <button cdkFocusInitial i18n="@@Close" mat-button mat-dialog-close>
    Close
  </button>
</div>
