@import 'src/styles/vars';

.custom-border-left {
  border-left: 0.5em solid transparent;
}

.green {
  border-left-color: $green;
}

.orange {
  border-left-color: $orange;
}

.red {
  border-left-color: $red;
}

.blue {
  border-left-color: $blue;
}

.violet {
  border-left-color: $violet;
}

.gray,
.grey {
  border-left-color: $gray;
}
