<mat-card [ngClass]="catColor" class="h-100 custom-border-left">
  <app-quote-options-menu
    [quote]="quotes.current$ | async"
  ></app-quote-options-menu>
  <app-quote [quote]="quotes.current$ | async"></app-quote>
</mat-card>
