<button
  [matMenuTriggerFor]="options"
  class="text-black-50 float-right"
  mat-icon-button
  type="button"
>
  <i class="material-icons"> more_vert </i>
</button>

<mat-menu #options="matMenu" xPosition="before">
  <button (click)="onShowNext()" class="text-right" mat-menu-item>
    <span class="v-middle" i18n="@@quote-options|show next">Show next</span>&nbsp;
    <i class="material-icons v-middle"> navigate_next </i>
  </button>
  <button (click)="onDislike()" class="text-right text-danger" mat-menu-item>
    <span i18n="@@quote-options|never show again">Never show again</span>&nbsp;
    <i class="material-icons v-middle"> clear </i>
  </button>
  <button (click)="openOptionsDialog()" class="text-right" mat-menu-item>
    <span i18n="@@Details">Details</span>&nbsp;
    <i class="material-icons v-middle"> search </i>
  </button>
</mat-menu>
