<ng-container [ngSwitch]="type">
  <ng-template [ngSwitchCase]="TYPES.DURATION">
    <app-break-input-duration [formControl]="control"></app-break-input-duration>
  </ng-template>
  <ng-template [ngSwitchCase]="TYPES.RANGE">
    <app-break-input-time-range [formControl]="control"></app-break-input-time-range>
  </ng-template>
</ng-container>
