<p *ngIf="!areNotificationPermissionsGranted" class="text-danger">
  <strong i18n="@@Please note">Please note</strong>:{{' '}}
  <span i18n="@@feierabend-input|note to allow notifications">You have to manually allow Notifications in order for them to be display.</span>
</p>

<form [formGroup]="form">
  <p>
    <span i18n="@@feierabend-input|Remind me">Remind me</span>
    {{' '}}
    <mat-form-field>
      <mat-label i18n="@@Minutes">Minutes</mat-label>
      <input formControlName="reminderInMinutes" matInput min="0" type="number"/>
    </mat-form-field>
    <span i18n="@@feierabend-input|time before end of work">
      {form.value.reminderInMinutes, plural, =1 {minute} other {minutes}} before end of work, which is at
    </span>
    {{' '}}
    <strong>{{ (leaveTime$ | async).toJSDate() | date:'shortTime' }}</strong>
    <span i18n="@@feierabend-input|part after time (Uhr)">.</span>
  </p>
  <p>
    <mat-slide-toggle
      (change)="onToggleFeierabendTimer($event)"
      formControlName="slider"
      i18n="@@feierabend-input|slider to activate timer"
      labelPosition="before"
    >
      Enable Reminder
    </mat-slide-toggle>
  </p>
</form>
