// hide arrows on number-input
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

// hide arrows on number-input
input[type="number"] {
    -moz-appearance: textfield;
}

input {
    text-align: right;
}

mat-form-field {
    width: 6em;
    margin-right: .25em;
}