<mat-card #outputCard class="mb-3 mat-elevation-z4">
  <mat-card-title i18n="@@output|Calculated Times">Calculated Times</mat-card-title>
  <mat-card-content *ngIf="!output">
    <span class="text-danger"
          i18n="@@output|please enter your Arrival-Time"><strong>Please enter your Arrival-Time</strong></span>
  </mat-card-content>
  <mat-card-content *ngIf="output">
    <p>
      <span i18n="@@Arrival-Time">Arrival-Time</span>:
      <strong>{{ output.arrivalTime | luxonFormat: 'H:mm' }} <span i18n="@@Uhr">{{''}}</span></strong>
    </p>
    <p>
      <span i18n="@@Leave-Time">Leave-Time</span>:
      <strong>{{ output.leaveTime | luxonFormat: 'H:mm' }} <span i18n="@@Uhr">{{''}}</span></strong>
    </p>
    <p>
      <span i18n="@@Working-Time">Working-Time</span>:
      <strong>{{ output.workingTime | luxonFormat: "h'h' m'min'" }}</strong>
    </p>
    <p>
      <span i18n="@@Break">Break</span>:
      <strong>{{ output.breakTime.required.plus(output.breakTime.additional) | luxonFormat: 'h:mm' }}</strong>
      <span class="text-muted">
        =
        <strong>{{output.breakTime.required | luxonFormat: "m 'min'":"h'h' m'min'" }}</strong>
        {{' '}}<em i18n="@@output|required">required</em> +
        <strong>{{ output.breakTime.additional | luxonFormat: "m 'min'":"h'h' m'min'" }}</strong>
        {{' '}}<em i18n="@@output|additional">additional</em>
      </span>
    </p>

    <p>
      <span i18n="@@Overtime">Overtime</span>:
      <strong
        [ngClass]="{
          'text-success':
            output.overtime.balance === Balance.Positive ||
            output.overtime.balance === Balance.Neutral,
          'text-danger': output.overtime.balance === Balance.Negative
        }"
      >
        <ng-template [ngIf]="output.overtime.balance === Balance.Negative"
        >-
        </ng-template
        >
        {{ output.overtime.value | luxonFormat: 'h:mm' }}
      </strong>
    </p>

    <p>
      <span i18n="@@output|remaining time">Remaining Time</span>{{' '}}
      <span class="text-muted" i18n="@@output|includes the X h X min break">
          including the {{ output.breakTime.total | luxonFormat:"m'min'": "h'h' mm'min'" }} Break
      </span>:
      <strong
        [ngClass]="{
          'text-success':
            remainingTime.balance === Balance.Positive ||
            remainingTime.balance === Balance.Neutral,
          'text-danger': remainingTime.balance === Balance.Negative
        }"
      >
        {{ remainingTime.value | luxonFormat: 'h:mm:ss' }}
      </strong>
    </p>
  </mat-card-content>
</mat-card>
