mat-form-field {
  width: 8em;
  margin-top: 1.25em;
}

input {
  text-align: right;
}

/* HIDE SPINNER on number input*/
/* - for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* - for Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
