<mat-form-field class="mt-1-25">
  <input [formControl]="control" i18n-placeholder="@@Breaktime" matInput min="0" placeholder="Breaktime" type="number"/>
</mat-form-field>
{{' '}}
<span i18n="@@Minute(s)">{control.value, plural, =1 {minute} other {minutes}}</span>
