<form [formGroup]="form">
  <mat-checkbox (focusout)="onFocusOut()" formControlName="showQuotes" i18n="@@settings-quotes|show quotes">
    Show Quotes
  </mat-checkbox>
  <p i18n="@@settings-quotes|choose your cats">
    Choose your preferred categories:
  </p>
  <app-settings-quote-categories
    (focusout)="onFocusOut()"
    formControlName="selectedCategories"
  ></app-settings-quote-categories>
  <p i18n="@@settings-quotes|reset quote info">
    Every viewed or disliked quote is saved in the Local-Storage of your
    browser.
  </p>
  <button (click)="resetQuotesState()" color="warn" mat-raised-button>
    <i class="material-icons">undo</i>
    <span i18n="@@settings-quotes|reset quotes state">Reset Quotes State</span>
  </button>
</form>
