<mat-expansion-panel class="mb-3 mat-elevation-z2">
  <mat-expansion-panel-header>
    <mat-panel-title><strong i18n="@@break-card|Panel title">User defined Break</strong></mat-panel-title>
    <mat-panel-description i18n="@@break-card|Panel description">Break Input</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="mb-3">
        <mat-checkbox formControlName="selected" i18n="@@break-card|Checkbox - Enable Custom Break"
                      labelPosition="after">
          Use a custom break-time
        </mat-checkbox>
      </div>
      <app-break-input-wrapper
        (addBreak)="setSelected($event)"
        formControlName="breaks"
      ></app-break-input-wrapper>
    </form>
    <p>
      <strong i18n="@@break-card|Note about the calculation - Header">Note about the calculation:</strong>{{' '}}
      <span i18n="@@break-card|Note about the calculation - Text">If the entered break is shorter than the
        legally required break, the legally required break is used and displayed for the calculation.
        Otherwise, the entered break is used for calculation and display.</span>
    </p>
    <p>
      <strong i18n="@@break-card|Legal notice - Header">Legal Notice:</strong>{{' '}}
      <span i18n="@@break-card|Legal notice - Text1">The interruption of working time must be</span>{{' '}}
      <strong i18n="@@break-card|Legal notice 15 minute - Bold Text">at least 15 minutes</strong>{{' '}}
      <span i18n="@@break-card|Legal notice - Text2">long in order to count these towards the mandatory
        break. Otherwise it is counted as an additional break.</span>{{' '}}
      <a href="https://www.gesetze-im-internet.de/arbzg/__4.html" rel="noopener noreferrer" target="_blank">Arbeitszeitgesetz
        (ArbZG) § 4 Ruhepausen <i class="material-icons md-18 v-middle">open_in_new</i></a>
    </p>
  </mat-card-content>
</mat-expansion-panel>
